header {
    border-bottom: 6px solid #FF6D1C;
    box-shadow: 2px 2px 2px 4px rgb(0 0 0 / 20%);
    padding: 30px 0;
}

header h1 {
	color: #FF6D1C;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 40px;
    padding-left: 35px;
}

#menu-and-cart {
    display: flex;
    align-items: center;
}

#menu-and-cart i.fa.fa-shopping-cart {
    color: #FF6D1C;
    font-size: 35px;
    padding-left: 10px;
}