header h1 {
	color: #FF6D1C;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 25px;
}

#menu-and-cart {
    display: flex;
    align-items: center;
}

#menu-and-cart i.fa.fa-shopping-cart {
    color: #FF6D1C;
    font-size: 25px;
    padding-left: 10px;
}