#section-banner-products a {
    background: #FF6D1C;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 50px;
}

#section-novedades-container, #section-pelis-container, #section-series-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 25px 12px;
    justify-content: space-between;
}

#section-novedades-container img, #section-pelis-container img, #section-series-container img {
    max-width: 150px;
    border-radius: 20px;
}

#section-novedades-container p, #section-pelis-container p, #section-series-container p {
    text-transform: capitalize;
}

#section-novedades-container div, #section-pelis-container div, #section-series-container div {
    grid-template-columns: fit-content(100%);
}