#section-categories {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.categories {
    background: lightsalmon;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
}

.categories h3 {
    background: #FF6D1C;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}