#section-banner {
    background: url(../assets/Home-Banner.png) no-repeat;
    height: 243px;
    max-width: 886px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

section#section-banner a {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}