#section-categories hr {
    height: 4px;
    border-top: 4px dashed #FF6D1C;
}

#categories-container {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    margin-top: 20px;
}

.categories {
    border-radius: 20px;
    height: 145px;
    margin: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories h3 {
    background: #FF6D1C;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
}

#cat-1 {
    background: url("../assets/img1.png") no-repeat 50% 50%;
}

#cat-2 {
    background: url("../assets/img2.png") no-repeat 50% 50%;
}

#cat-3 {
    background: url("../assets/img3.png") no-repeat 50% 50%;
}

#cat-4 {
    background: url("../assets/img4.png") no-repeat 50% 50%;
}

#cat-5 {
    background: url("../assets/img5.png") no-repeat 50% 50%;
}

#cat-6 {
    background: url("../assets/img6.png") no-repeat 50% 50%;
}